<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout" layout:decorate="Template"
      xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>Employees</title>

</head>
<body>
<div layout:fragment="content1">
  <div class="container mt-3">
    <div class="card">
      <div class="card-header">List of Employees</div>
      <div class="card-body">
        <div class="d-flex justify-content-end mb-3">
          <form method="get" th:action="@{index}" class="ms-auto">
            <label>keyword</label>
            <input type="text" name="keyword" th:value="${keyword}">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
    <table class="table mt-3">
      <thead>
      <tr class="text-center">
        <th>Employee Id</th>
        <th>Employee First Name</th>
        <th>Employee Last Name</th>
        <th>Employee Title</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" th:each="employee:${listEmployees}">
        <td th:text="${employee.getEmployeeId()}"></td>
        <td th:text="${employee.getFirstName()}"></td>
        <td th:text="${employee.getLastName()}"></td>
        <td th:text="${employee.getTitle()}"></td>
        <td>
          <a onclick="return confirm('Are you sure')" class="btn btn-danger"
             th:href="@{/employees/delete(employeeId=${employee.getEmployeeId()}, keyword=${keyword})}">
            Delete
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
</body>
</html>